{% extends "base.html" %}

{% block content %}

    {% if blog_posts|length == 0 %}
            <p>No blogs yet</p>

    {% else %}
            {% for blog in blog_posts %}
                <a href='/post?id={{blog.id}}'>{{blog.btitle}}</a>
                <br>
                {{blog.bpost}}
                <br>
                {% for user in users %}
                        {% if user.id == blog.owner_id %}
                                Author: <a href='/post?user={{user.id}}'>{{user.email}}</a>
                        {% endif %}
                {% endfor %}
                <br>
                <br>
            {% endfor %}

    {% endif %}

{% endblock %}